@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

img {
  width: 100%;
  margin-bottom: 1rem;
}

main {
  padding: 1rem;
  width: fit-content;
  margin: auto;
  width: 100%;
  max-width: 25rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

h1, h2 {
  font-weight: normal;
  margin: 0 0 1rem 0;
}

li {
  list-style-type: square;
}

a {
  color: var(--text);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "IBM Plex Sans", monospace, sans-serif;
  min-height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
}

footer {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  align-items: end;
}

:root {
  font-size: 20px;
  --text: #f7f7f7;
  --background: #020202;
}
